{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block meta_title %}{{ boat.name }}{% endblock %}

{% block title %}
{% editable boat.name %}{{ boat.name }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ boat.name }}</li>
{% endblock %}

{% block main %}{{ block.super }}

    <div class="row">
        <div class="col-md-4">

        {% editable boat.num boat.design boat.year boat.length %}
            {% if boat.num %}
                <p>Номер: {{ boat.num }}</p>
            {% endif %}
            {% if boat.design %}
                <p>Модель: {{ boat.design }}</p>
            {% endif %}
            {% if boat.year %}
                <p>Год выпуска: {{ boat.year }}</p>
            {% endif %}
            {% if boat.length %}
                <p>Длина: {{ boat.length }} м</p>
            {% endif %}
        {% endeditable %}

        {% editable boat.description %}
            <br />
            {{ boat.description|richtext_filters|safe }}
        {% endeditable %}

        </div>

        <div class="col-md-8">

            <div class="row">
            {% for img in boat.images.all %}
                <div class="col-md-4">
                    <p><a href="{{ MEDIA_URL }}{{ img.image }}" target="_blank"><img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail img.image 230 0 %}"></a></p>
                </div>
                {% if forloop.counter|divisibleby:"3" %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>

        </div>

    </div>

{% endblock %}
