{% extends "pages/richtextpage.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}

    <div class="row">
    {% for boat in boats %}

        {% ifchanged %}
            </div>
            <h2>{{ boat.city }}</h2>
            <div class="row">
        {% endifchanged %}

        <div class="col-md-3">
            {% editable boat.name boat.num boat.design %}
            <h3><a href="{{ boat.get_absolute_url }}">{{ boat.name }}</a></h3>
			{% with boat.first_image as img %}
				{% if img %}
                    <p><a href="{{ boat.get_absolute_url }}"><img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail img.image 263 0 %}"></a></p>
				{% endif %}
			{% endwith %}
            {% if boat.num %}
                <p>Номер: <strong>{{ boat.num }}</strong></p>
            {% endif %}
            {% if boat.design %}
                <p>Модель: <strong>{{ boat.design }}</strong></p>
            {% endif %}
            {% endeditable %}
        </div>

        {% if forloop.counter|divisibleby:"4" %}
            </div>
            <div class="row">
        {% endif %}

    {% endfor %}
    </div>

{% endblock %}
