{% extends "pages/richtextpage.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}

    <div class="row">
    {% for man in yachtsmen %}

        {% ifchanged %}
            </div>
            <h2>{{ man.city }}</h2>
            <div class="row">
        {% endifchanged %}

        <div class="col-md-2">
            {% editable man.name %}
            <h4><a href="{{ man.get_absolute_url }}">{{ man.name }}</a></h4>
			{% with man.first_image as img %}
				{% if img %}
                    <p><a href="{{ man.get_absolute_url }}"><img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail img.image 165 0 %}"></a></p>
				{% endif %}
			{% endwith %}
            {% endeditable %}
        </div>

        {% if forloop.counter|divisibleby:"6" %}
            </div>
            <div class="row">
        {% endif %}

    {% endfor %}
    </div>

{% endblock %}
