{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block meta_title %}{{ yachtsman.name }}{% endblock %}

{% block title %}
{% editable yachtsman.name %}{{ yachtsman.name }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ yachtsman.name }}</li>
{% endblock %}

{% block main %}{{ block.super }}

    <div class="row">

        <div class="col-md-8">

            <div class="row">
            {% for img in yachtsman.images.all %}
                <div class="col-md-4">
                    <p><a href="{{ MEDIA_URL }}{{ img.image }}" target="_blank"><img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail img.image 230 0 %}"></a></p>
                </div>
                {% if forloop.counter|divisibleby:"3" %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>

        </div>

        <div class="col-md-4">

        {% editable yachtsman.description %}
            <br />
            {{ yachtsman.description|richtext_filters|safe }}
        {% endeditable %}

        </div>


    </div>

{% endblock %}
