{% extends "pages/page.html" %}
{% load mezzanine_tags %}

{% block main %}{{ block.super }}

<div class="row">
	<div class="col-md-9">
		{% editable flexi_content_field1.content %}
			{{ flexi_content_field1.content|richtext_filter|safe }}
		{% endeditable %}
	</div>
	<div class="col-md-3">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Приложения</h3>
			</div>
			<div class="panel-body">
				{% editable flexi_content_field2.content %}
					{{ flexi_content_field2.content|richtext_filter|safe }}
				{% endeditable %}
			</div>
		</div>

	</div>
</div>

{% endblock %}

